html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #6699CC;
}

.ppplogo {
    float: right; 
}

.balloondog {
    float: right;
}

.submit {
    position: relative;
}

header {
    background-color: #676767;
}

footer {
    background-color: #676767;
    padding: 5px;
}

p {
    color: black;
}

h3 {
    color: black;
}

h1 {
    color: midnightblue;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    text-align: center;
}

nav {
    background-color: dimgray;
}

.container {
    color: silver;
}

a{
    color: 6699CC;
}

.border-top footer text-muted {
    color: silver;
}

.info {
    color: black;
}

form {
    text-align: center;
}

.pics {
    text-align: center;
    padding: 10px;
}